@model IEnumerable<PrjPanifMVC.Models.TbMotoristum>

@{
    ViewData["Title"] = "Motoristas";
}

<h1>Lista de Motoristas</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeMotorista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMotorista)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMotorista">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMotorista">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMotorista">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
