@model PrjPanifMVC.Models.TbItemPedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Item Pedido</h1>

<h3>Tem certeza que gostaria de deletar esse item pedido ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Quantidade")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Valor Unitário")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Valor Total")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Valor de Desconto")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDesconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Id Pedido Navegação")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.IdPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Id Produto Navegação")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdutoNavigation.IdProduto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdItemPedido" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
