@model IEnumerable<PrjPanifMVC.Models.TbItemPedido>

@{
    ViewData["Title"] = "Item Pedido";
}

<h1>Lista Item Pedido</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id Pedido Navegação")
            </th>
            <th>
                @Html.DisplayName("Id Produto Navegação")
            </th>
            <th>
                @Html.DisplayName("Quantidade")
            </th>
            <th>
                @Html.DisplayName("Valor Unitário")
            </th>
            <th>
                @Html.DisplayName("Valor Total")
            </th>
            <th>
                @Html.DisplayName("Valor de Desconto")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdutoNavigation.IdProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdItemPedido" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdItemPedido" class="btn btn-primary">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdItemPedido" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
