@model IEnumerable<PrjPanifMVC.Models.TbPedido>

@{
    ViewData["Title"] = "Lista de Pedidos";
}

<h1>Lista de Pedidos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Data")
            </th>
            <th>
                @Html.DisplayName("Id Cliente")
            </th>
            <th>
                @Html.DisplayName("Id Rota")
            </th>
            <th>
                @Html.DisplayName("Observações")
            </th>
            <th>
                @Html.DisplayName("Data Inicio Recorrência")
            </th>
            <th>
                @Html.DisplayName("Data Final Recorrência")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRotaNavigation.IdRota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioRecorrencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalRecorrencia) 
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido" class="btn btn-primary">Resumo</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido" class="btn btn-danger">Deletar</a>
              
            </td>
        </tr>
}
    </tbody>
</table>
