@model IEnumerable<PrjPanifMVC.Models.TbRotum>

@{
    ViewData["Title"] = "Lista de Rotas";
}

<h1>Lista de Rotas</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotoristaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotoristaNavigation.IdMotorista)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRota">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRota">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRota">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
