@model IEnumerable<PrjPanifMVC.Models.TbCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneContatoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoUf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoComplemento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneContatoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoUf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoComplemento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
