@model IEnumerable<PrjPanifMVC.Models.TbCliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table-secondary">
    <thead>
        <tr class="table table-striped">
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("CPF/CNPJ")
            </th>
            <th>
                @Html.DisplayName("Celular")
            </th>
            <th>
                @Html.DisplayName("Rua")
            </th>
            <th>
                @Html.DisplayName("Bairro")
            </th>
            <th>
                @Html.DisplayName("Cidade")
            </th>
            <th>
                @Html.DisplayName("CEP")
            </th>
            <th>
                @Html.DisplayName("UF")
            </th>
            <th>
                @Html.DisplayName("Complemento")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope ="row">
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneContatoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoUf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoComplemento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCliente" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCliente" class="btn btn-primary">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente" class="btn btn-primary">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
