@model IEnumerable<PrjPanifMVC.Models.TbProduto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
