@model IEnumerable<PrjPanifMVC.Models.TbUsuario>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h1>Lista de Usúários</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Resumo</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
